.header {
  width: 100%;
  position: fixed;
  top: 24px;
  z-index: 100000;
  padding: 0 56px;

  .header-wrap {
    max-width: 1400px;
    margin: 0 auto;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 575px) {
    & {
      width: 100%;
      top: 24px;
      padding: 0 16px;

      .header-wrap {
        max-width: 100%;
        height: 32px;

        a {
          img {
            width: 90.72px;
            height: 40.32px;
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 769px) {
    & {
      width: 100%;
      top: 24px;
      padding: 0 16px;

      .header-wrap {
        max-width: 100%;
        height: 61px;
      }
    }
  }

  @media (min-width: 769px) and (max-width: 991px) {
    & {
      width: 100%;
      top: 24px;
      padding: 0 56px;

      .header-wrap {
        max-width: 100%;
        height: 61px;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1102px) {
    & {
      width: 100%;
      top: 24px;
      padding: 0 56px;

      .header-wrap {
        max-width: 100%;
        height: 61px;
      }
    }
  }
}
