.header {
  width: 100%;
  position: fixed;
  top: 24px;
  z-index: 100000;

  .header-wrap {
    max-width: 1400px;
    margin: 0 auto;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
