.hero-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fefffa;
  position: relative;

  section {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-family: "Almarena Neue", sans-serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 53px;
        text-align: center;
        letter-spacing: -0.05em;

        span {
          font-style: italic;
        }
      }

      p {
        font-family: "Almarena Neue", sans-serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 53px;
        text-align: center;
        letter-spacing: -0.05em;
        color: #ffffff;
      }
    }

    .bottom-arts {
      display: flex;
      gap: 32px;
      position: relative;
      bottom: -45px;

      img {
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:nth-child(1):hover {
          transform: scale(1.2) rotate(10deg);
        }

        &:nth-child(2):hover {
          transform: scale(1.2) rotate(-25deg);
        }

        &:nth-child(3):hover {
          transform: scale(1.2) rotate(10deg);
        }
      }
    }
  }
}
