.hero-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fefffa;
  position: relative;

  section {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
