.hero-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fefffa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  section {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-family: "Almarena Neue", sans-serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 53px;
        text-align: center;
        letter-spacing: -0.05em;

        span {
          font-style: italic;
        }
      }

      p {
        font-family: "Almarena Neue", sans-serif;
        font-weight: 400;
        font-size: 56px;
        line-height: 53px;
        text-align: center;
        letter-spacing: -0.05em;
        color: #ffffff;
      }
    }

    .bottom-arts {
      display: flex;
      gap: 32px;
      position: relative;
      bottom: -45px;

      img {
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:nth-child(1):hover,
        &:nth-child(1).auto-hover {
          transform: scale(1.2) rotate(10deg);
        }

        &:nth-child(2):hover,
        &:nth-child(2).auto-hover {
          transform: scale(1.2) rotate(-25deg);
        }

        &:nth-child(3):hover,
        &:nth-child(3).auto-hover {
          transform: scale(1.2) rotate(10deg);
        }
      }
    }
  }

  @media (max-width: 575px) {
    & {
      section {
        max-width: 100%;

        .content {
          h2 {
            font-weight: 400;
            font-size: 40px;
            line-height: 38px;
            text-align: center;
            letter-spacing: -0.05em;

            span {
              font-style: italic;
            }
          }

          svg {
            width: 180.75px;
            height: 45px;
          }
        }

        .bottom-arts {
          left: -20px;
          img {
            cursor: pointer;
            transition: 0.2s all ease-in-out;
            height: 155.42103576660156px;

            &:nth-child(1) {
              width: 213.3584442138672px;
            }

            &:nth-child(2) {
              position: absolute;
              left: 53%;
              transform: translateX(-53%);
              top: -110px;
              width: 144.1892879897787px;
            }

            &:nth-child(3) {
              width: 161.64276123046875px;
            }
          }
        }
      }
    }
  }
}
