.joinwaitlist-btn-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: -4px;
    bottom: -4px;
    background: #411765;
    border-radius: 12px;
    z-index: -1;
  }

  &:hover {
    transform: scale(0.9);

    .joinwaitlist-btn {
      background: #29a053;
      background-image: url("../assets/svgs/green_btn.svg");
    }
  }

  &:active {
    transform: scale(0.9);

    .joinwaitlist-btn {
      background-image: url("../assets/svgs/green_btn.svg");
    }
  }
}

.joinwaitlist-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px 16px 22px;
  gap: 8px;
  isolation: isolate;
  height: 45px;
  background-image: url("../assets/svgs/purple_btn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &.background-red {
    background-image: url("../assets/svgs/red_btn.svg");
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin: 0;
  }
}
