.noise {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.2;
  pointer-events: none;
  z-index: 2;
  user-select: none;
}
