.spark-section {
  width: 100%;
  height: 100vh;
  overflow: visible;
  background: #29a053;
  position: relative;
  z-index: 3;

  section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 200px;
    height: 100%;

    .top-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      position: relative;
      z-index: 1;

      .fire {
        position: absolute;
        top: -60px;
        left: 120px;
      }

      .txt {
        max-width: 584px;

        p {
          font-weight: 500;
          font-size: 22px;
          line-height: 30px;
          letter-spacing: -0.02em;
          color: #ffffff;
        }
      }
    }
  }

  .bottom-content {
    position: absolute;
    bottom: 0;
    left: 0%;
    // transform: translateX(-50%);
    z-index: 1;
    height: 313px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    // max-width: 690px;
    width: 100%;

    .bottom-img {
      max-width: 690px;
      margin: 0 auto;
      position: absolute;
    }

    .tree-house-img {
      width: 100%;
      height: auto;
      // position: absolute;
      // bottom: 0;
      // left: 50%;
      // transform: translateX(-50%);
      // z-index: 100;
    }

    .heart-img {
      position: absolute;
      top: 50px;
      left: 100px;
      z-index: 1;
    }
  }

  @media (max-width: 575px) {
    & {
      section {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 160px;
        height: 100%;

        .top-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          position: relative;
          z-index: 1;

          .fire {
            position: absolute;
            top: -40px;
            left: 120px;
            width: 25.690885543823242px;
            height: 40px;
          }

          .txt {
            max-width: 584px;
            padding: 0 32px;

            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              letter-spacing: -0.02em;
            }
          }
        }
      }

      .bottom-content {
        position: absolute;
        bottom: 0%;
        z-index: 1;
        height: 313px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;

        .tree-house-img {
          width: 100%;
          height: auto;
        }

        .heart-img {
          position: absolute;
          top: 20px;
          left: 50px;
          z-index: 1;
          transform: scale(0.5);
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 769px) {
    & {
      .bottom-content {
        .tree-house-img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  @media (min-width: 769px) and (max-width: 991px) {
    & {
      .bottom-content {
        .tree-house-img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1102px) {
    & {
      section {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 150px;
        height: 100%;

        .top-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          position: relative;
          z-index: 1;

          .fire {
            position: absolute;
            top: -30px;
            left: 120px;
          }

          .txt {
            max-width: 584px;

            p {
              font-weight: 500;
              font-size: 22px;
              line-height: 30px;
              letter-spacing: -0.02em;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
